body {
    background-color: gray;
    display: grid;
    grid-template-columns: auto 800px auto;
}

#title {
    grid-column-start: 2;
    text-align: center;
}

#gameWindow {
    position: relative;
    width: 800px;
    height: 592px;
    grid-column-start: 2;
    background-color: aqua;
}

.background {
    position: absolute;
    z-index: 0;
}

.character {
    position: absolute;
    z-index: 1;
}

.foreground {
    position: absolute;
    z-index: 2;
}

.foreground2 {
    position: absolute;
    z-index: 3;
}

.foreground3 {
    z-index: 4;
}

#tilemap {}

#mainCharacter {
    top: 220px;
    left: 220px;
    transition: all 3s ease-in-out;
}

#tool {
    top: 420px;
    left: 560px;
    width: 16px;
    height: 32px;
}

#rock {
    top: 150px;
    left: 705px;
    width: 32px;
    height: 64px;
}

#cave {
    top: 300px;
    left: 225px;
    width: 32px;
    height: 32px;
}

#shrine {
    top: 19px;
    left: 111px;
    width: 16px;
    height: 16px;
}

#chest {
    top: 367px;
    left: 705px;
    width: 16px;
    height: 16px;
}

#lever {
    top: 50px;
    left: 448px;
    width: 16px;
    height: 16px;
}

#crystal {
    top: 15px;
    left: 415px;
    width: 16px;
    height: 16px;
}

#book {
    top: 450px;
    left: 688px;
    width: 16px;
    height: 16px;
}

#bed {
    top: 360px;
    left: 656px;
    width: 32px;
    height: 48px;
}

#boxes {
    top: 384px;
    left: 112px;
    width: 80px;
    height: 128px;
}

#caveExit {
    top: 440px;
    left: 320px;
    width: 150px;
    height: 150px;
}


#playButton {
    position: relative;
    width: 800px;
    height: 592px;
    grid-column-start: 2;
    background-color: rgba(0, 0, 0, 0.751);
}

#playButton>h1 {
    color: #ffffff;
    margin: 0;
    padding: 300px 0px 0px 0px;
    text-align: center;
}

.speech-bubble {
    position: relative;
    background: #ffffff;
    border-radius: 60px;
    padding: 5px 5px 5px 20px;
    left: 70px;
    top: 15px;
    opacity: 0;
    width: 300px;
    transition: all .5s ease-in-out;
}

#dialogueBar {
    height: 64px;
    bottom: 0px;
}

#brownBar {

    position: absolute;
    height: 32px;
    width: 800px;
    background-color: rgb(157, 71, 17);
    bottom: 0px;
}